#product-table {
  width: 80%;
  
  margin-top: 2%;
}

#product-table td{
  width: 33.33%;
  min-width: 33.33%;
}
#product-table td div:hover {
  border: solid 0.7px #19baee;
  
  background: #19baee;
  
}
#product-table td div {
  border: solid 5px #e2e2e1;
  border-radius: 50%;
  margin: 10% 0% 10% 10%;
  padding: 10% 15% 10% 15%;
  height: auto;
  width: 100%;
  background: #fff;
}
#product-table td div p {
  
  margin: 50% 0%;
  line-height: 1.0;
  font-size: 18px;
  font-weight: 500;
  color: #787878;
  text-align: center;
}
#product-table td div:hover p{
  color: #fff;
  
}
#product-table td div p small {
  font-size: 80%;
  font-weight: 350;
}

#product-table td .left{
  transform: translateX(-10.5%);
}

#product-table td .right{
  transform: translateX(10.5%);
}


@media only screen and (max-width: 1899px){}
@media only screen and (max-width: 1499px){}

@media only screen and (max-width: 1340px){
 .text50 h2{
   font-size:  30px;
   
 }
}
@media only screen and (max-width: 1199px){
 
  #product-table td .left{
    transform: translateX(-5%);
  }
  
  #product-table td .right{
    transform: translateX(5%);
  }
  
  #product-table{
    transform: translateX(-2%);
  }
  .text50 h2{
    font-size:  28px;
    
  }
}

/* @media only screen and (max-width: 1023px){
 
} */
@media only screen and (max-width: 991px){
  .text50 h2{
    font-size:  22px;
    
  }
  #product-table td div p{
    font-size: 14px;
  }

}


@media only screen and (max-width: 767px){
 
  #product-table td div p{
    font-size: 14px;
  }
}

@media only screen and (max-width: 599px){
  .text50 h2{
    font-size: 20px;
    width: 342px;

    }
}
@media only screen and (max-width: 479px) {

  .text50 h2{
    font-size: 20px;
    width: 342px;
  }
  #product-table{
    transform: translateX(8%);
  }
  #product-table td div p{
      font-size: 13px;
    }
  #product-table .twoline{
    margin: 10% 0% 10% 10%;
    padding: 0% 10% 0% 10%;
  }
 
}

@media only screen and (max-width: 320px) {

  .text50 h2{
    font-size: 16px;
    width: 276px;
    
    
    }
 
}