.vision{
  width: 11.25rem;
  
  background: #d0d0d0;
  color: #fff;
  border: 0.0625rem solid #d0d0d0;
  border-radius: 1.875rem;
  margin: 0 auto;
  
}
.vision .vision_text{
  font-size: 36px;
  margin: 0.313rem 0 ;
  
}
.text01{
  margin-top: 8%;
  margin-bottom: 7%;
  font-weight: 500;
}

.mission{
  width: 11.25rem;
  
  background: #d0d0d0;
  color: #fff;
  border: 0.0625rem solid #d0d0d0;
  border-radius: 1.875rem;
  margin: 4% auto;
  margin-bottom: 0;
}
.mission .mission_text{
  font-size: 36px;
  margin: 0.313rem 0;
  
}
.mission_img img{
  margin: 6% 0;
}
.text_area .text01 span{
  font-size: 42px;
}
.text_area .text01 span:nth-child(2){

  color: #1f8fff;
}
.text_area .text01 span:nth-child(1),.text_area .text01 span:nth-child(3){
  color: #000;
}
@media only screen and (max-width: 991px){
  .vision{
    width: 6.25rem;
  } 
  .text_area .vision .vision_text{
    font-size: 18px;
  }
  .mission{
    width: 6.25rem;
  } 
  .text_area .mission .mission_text{
    font-size: 18px;
  }
  .text_area .text01 span{
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px){
 
  
}

@media only screen and (max-width: 599px){
  
}
@media only screen and (max-width: 479px) {

  .vision{
    width: 4.25rem;
  } 
  .text_area .vision .vision_text{
    font-size: 14px;
  }
 
  .mission{
    width: 4.25rem;
  } 
  .text_area .mission .mission_text{
    font-size: 14px;
  }
  .text_area .text01 span{
    font-size: 16px;
  }

}